<a href="https://colab.research.google.com/github/subha-v/FatimaFellowshipProjectPublic/blob/main/RealFatima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
fakenews = pd.read_csv('/content/Fake.csv')
truenews = pd.read_csv('/content/True.csv')

In [5]:
fakenews.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [15]:
# now we are going to put both of these in the same dataframe and add a "0" if it's fake and a 1 if it's true
fakenews['temp']= 0
truenews['temp']= 1

combined_dataset = pd.DataFrame()
combined_dataset = truenews.append(fakenews)

In [16]:
combined_dataset

,title,text,subject,date,temp
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [17]:
# we don't need the columns of date and subject for right now
column = ['date','subject']
combined_dataset = combined_dataset.drop(columns=column)

In [11]:
combined_dataset

,title,text,temp
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1
...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,0

In [1]:
# now we will process the data using NLTK
import nltk
import re
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [6]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
from nltk.stem import WordNetLemmatizer
lemma = WordNetLemmatizer()

In [24]:
all_text = combined_dataset['text']

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
all_text = cv.fit_transform(all_text)

In [25]:
truth_or_false = combined_dataset['temp']

In [33]:
from keras.preprocessing import sequence, text
from sklearn.model_selection import train_test_split
xtrain, xvalid, ytrain, yvalid = train_test_split(all_text, truth_or_false, 
                                                  random_state=42, 
                                                  test_size=0.2, shuffle=True)

In [27]:
# A Naive Bayes Classifier determines the probability that an example belongs to some class, calculating the probability that an event will occur given that some input event has occurred.

In [28]:
from sklearn.naive_bayes import MultinomialNB

In [29]:
nb = MultinomialNB()

In [34]:
nb.fit(xtrain, ytrain)

MultinomialNB()

In [42]:
predictions = nb.predict(xvalid)

In [43]:
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(yvalid,predictions))
print('\n')
print(classification_report(yvalid,predictions))

[[4425  225]
 [ 179 4151]]


              precision    recall  f1-score   support

           0       0.96      0.95      0.96      4650
           1       0.95      0.96      0.95      4330

    accuracy                           0.96      8980
   macro avg       0.95      0.96      0.95      8980
weighted avg       0.96      0.96      0.96      8980